name: ci
on:
  push:
    branches: [main, next]
  pull_request:
    branches: ['*']

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run format
      - run: bun run  lint
      - run: bun run test
      - run: bun run build
